.cart-list-item {
  position: relative;
  text-align: left;
  &__name {
    width: 90%;
    overflow: hidden;
    margin-bottom: 10px;

    button {
      width: 100%;
      cursor: pointer;
      border: none;
      background: transparent;
      text-align: left;
      font-weight: bold;
      outline: none;
    }
  }
  &__button-close {
    position: absolute;
    top: 15px;
    right: 0;

  }
  &__quantity{
    float:left;
  }
  &__price {
    float: right;
  }

}
